<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="kodein.di.demo">

    <application
            android:name=".DemoApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Kodein Demo"
            android:theme="@android:style/Theme.DeviceDefault.Light" tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".MainActivity"
                android:label="Kodein Demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
